body {
	/*background-color: #9EDE9E;*/
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 200;
}


.head  {
	background-color: #339933;
	margin: -30px -15px 30px -15px;
	padding-top: 30px;
	height: 240px;
	text-align: center;
	font: Georgia, serif;
}

.head h1 {
	font-size: 3em;
}
.head h3 {
	font-size: 1.8em;
	font-style: italic;
}



/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
  
  /* 
  Using a left and right margin of auto 
  in conjunction with this width lets the browser 
  automatically figure out equal left and right margins 
  for the element, thus centering it on the page.
  */
  
}

.intro {
	height: 400px;
	margin-bottom: 40px;
	
}

.binja {
	float: left;
	width: 40%;
	display: inline-block;
	text-align: left;
}

.aside {
	float: right;
	width: 53%;
	display: inline-block;
	margin-left: 0;
	padding-right: 50px;
	height: inherit;
}

.aside p {
	font-size: 1.8em;
	margin: 20PX 0PX;
}

q {
	font-style: italic;
}


.col-1-3 {
  width: 30%;
}
.col-2-3 {
  width: 60%;
}

div,
aside {
	margin: 0 1.5%;
}

.col-1-3,
.col-2-3 {
  clear: both;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
  height: 200px;
  border-radius: 5px;
  background-color: #339933;
  text-align: center;
}


